CONFIG_TRACEPOINTS=y
CONFIG_CMDLINE="consoleblank=0 console=/dev/null video=HDMI-A-1:800x600@60 video=HDMI-A-2:800x600@60 video=HDMI-A-3:d intel_iommu=on,igfx_off iommu=pt i915.enable_hd_vgaarb=1 pcie_acs_override=downstream memmap=2M$0x8000000 ramoops.mem_address=0x8000000 ramoops.mem_size=0x200000 ramoops.console_size=0x100000 zswap.enabled=1 zswap.compressor=lz4"
CONFIG_NET_DROP_MONITOR=y
CONFIG_QND_ETH_INTEL=y
CONFIG_QND_ETH_E1000E=m
CONFIG_QND_ETH_E1000E_VERSION="3.3.1"
# CONFIG_QND_ETH_IXGBE is not set
# CONFIG_QND_ETH_I40E is not set
# CONFIG_QND_ETH_IGB is not set
CONFIG_QND_ETH_MELLANOX_MLX=m
CONFIG_QND_ETH_MELLANOX_MLX_VERSION="4.0"
CONFIG_QND_SAS_MPT3=m
CONFIG_QND_SAS_MPT3_VERSION="13.00.00.00"
CONFIG_THUNDERBOLT=m
CONFIG_THUNDERBOLT_APPLE=m
CONFIG_THUNDERBOLT_ICM=m
# CONFIG_PSTORE_FTRACE is not set
CONFIG_NOP_TRACER=y
CONFIG_TRACE_CLOCK=y
CONFIG_RING_BUFFER=y
CONFIG_EVENT_TRACING=y
CONFIG_CONTEXT_SWITCH_TRACER=y
CONFIG_TRACING=y
CONFIG_GENERIC_TRACER=y
CONFIG_FTRACE=y
CONFIG_FUNCTION_TRACER=y
# CONFIG_FUNCTION_GRAPH_TRACER is not set
# CONFIG_IRQSOFF_TRACER is not set
# CONFIG_SCHED_TRACER is not set
# CONFIG_FTRACE_SYSCALLS is not set
# CONFIG_TRACER_SNAPSHOT is not set
CONFIG_BRANCH_PROFILE_NONE=y
# CONFIG_PROFILE_ANNOTATED_BRANCHES is not set
# CONFIG_PROFILE_ALL_BRANCHES is not set
# CONFIG_STACK_TRACER is not set
# CONFIG_BLK_DEV_IO_TRACE is not set
# CONFIG_KPROBE_EVENT is not set
# CONFIG_UPROBE_EVENT is not set
# CONFIG_PROBE_EVENTS is not set
# CONFIG_DYNAMIC_FTRACE is not set
# CONFIG_FUNCTION_PROFILER is not set
# CONFIG_FTRACE_STARTUP_TEST is not set
# CONFIG_MMIOTRACE is not set
# CONFIG_TRACEPOINT_BENCHMARK is not set
# CONFIG_RING_BUFFER_BENCHMARK is not set
# CONFIG_RING_BUFFER_STARTUP_TEST is not set
# CONFIG_TRACE_ENUM_MAP_FILE is not set
# CONFIG_KVM_MMU_AUDIT is not set
CONFIG_BINARY_PRINTF=y
CONFIG_CRYPTO_DEV_QAT=m
CONFIG_CRYPTO_DEV_QAT_DH895xCC=m

CONFIG_DRM_I915_USERPTR=y
CONFIG_DRM_I915_GVT=y
